
<div id='property-container'  >

    <div th:each="property:${properties}">
    <div class="col-sm-6 infinite-item">
        <div class="property_item heading_space">
            <div class="image">
               <a th:href="@{'/view/'+${property.id}}">
                <img src="/" alt="latest property" class="img-responsive"></a>
                <div class="crop" style="">
                    <a th:href="@{'/view/'+${property.id}}" target="_blank">

                        <div class="img-fluid img-thumbnail" style='width: 100%;
                                                                    height: 254px;
                                                                    background-image: url("/");
                                                                    /*background-image: url("/media/{{property.id|getbyidproperty|safe }}");*/
                                                                    background-size: cover;
                                                                    background-repeat: no-repeat;
                                                                    background-position: 50% 50%;'>

                        </div>
                    </a>
                </div>
                <div id='logo' style='background:{{property.get_absolute_url}}'></div>

                <div class="price clearfix">
                    <span class="tag pull-right">[[${property.price}]] Per Month</span>
                </div>
                <span class="tag_t">[[${property.purpose}]]</span>
                <span class="tag_l">Featured</span>
            </div>
            <div class="proerty_content">
                <div class="proerty_text">
<!--                    <h4 class="captlize"><a href="{{property.get_absolute_url}}" target="_blank">[[${property.title}]]</a></h4>-->

                    <h4 class="captlize"><a href="[[${property.get_absolute_url}]]" target="_blank">[[${property.title}]]</a></h4>

                    <p>[[${property.address.houseNumber}]] [[${property.address.street}]] [[${property.address.city}]]
                        [[${property.address.region}]] [[${property.address.country}]]
                    </p>
                </div>
                <div class="property_meta transparent">
                    <span><i class="icon-select-an-objecto-tool"></i>[[${property.size}]] m²</span>
                    <span><i class="icon-bed"></i>[[${property.bedroom}]] Room</span>

                    <span><i class="icon-safety-shower"></i>[[${property.bathroom}]] Bathroom</span>
                </div>
                <div class="property_meta transparent bottom30">
<!--                    available, not_available, uknown;-->
                    <span th:if="${property.garage == 'available'}"><i class="icon-garage"></i>Garage:Available</span>
                    <span th:unless="${property.garage == 'not_available'}"><i class="icon-garage"></i>Garage:Unavailable</span>


                </div>
                <div class="favroute clearfix">
                    <p class="pull-md-left" th:text="${#temporals.format(property.createdOn, 'dd/MM/yyyy')}"> <i class="icon-calendar2"></i></p>
                    <ul class="pull-right">
                        <li><a href="javascript:void(0)"><i class="icon-like"></i></a></li>
                        <li><a href="#one" class="share_expender" data-toggle="collapse"><i class="icon-share3"></i></a></li>
                    </ul>
                </div>
                <div class="toggle_share collapse" id="one">
                    <ul>
                        <li><a href="javascript:void(0)" class="facebook"><i class="icon-facebook-1"></i> Facebook</a></li>
                        <li><a href="javascript:void(0)" class="twitter"><i class="icon-twitter-1"></i> Twitter</a></li>
                        <li><a href="javascript:void(0)" class="vimo"><i class="icon-vimeo3"></i> Vimeo</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="row">

    </div>
</div>

<!--<div class="padding_bottom text-center">-->

<!--    <ul class="pager">-->
<!--        {% if visable_area_properties.has_previous %}-->
<!--        <li  data-id ="{{ visable_area_properties.previous_page_number }}"><a><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>-->
<!--        {% else %}-->
<!--        <li class="active disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>-->
<!--        {% endif %}-->

<!--        {% if visable_area_properties.number|add:'-4' > 1 %}-->
<!--        <li data-id ="{{ visable_area_properties.number|add:'-5' }}" ><a>&hellip;</a></li>-->
<!--        {% endif %}-->

<!--        {% for i in visable_area_properties.paginator.page_range %}-->
<!--        {% if visable_area_properties.number == i %}-->
<!--        <li data-id ="{{ i }}" class="active" value="{{ i }}"><span>{{ i }} <span class="sr-only">(current)</span></span></li>-->
<!--        {% elif i > visable_area_properties.number|add:'-5' and i < visable_area_properties.number|add:'5' %}-->
<!--        <li data-id ="{{ i }}"><a >{{ i }}</a></li>-->
<!--        {% endif %}-->
<!--        {% endfor %}-->

<!--        {% if visable_area_properties.paginator.num_pages > visable_area_properties.number|add:'4' %}-->
<!--        <li data-id ="{{ visable_area_properties.number|add:'5' }}"><a >&hellip;</a></li>-->
<!--        {% endif %}-->

<!--        {% if visable_area_properties.has_next %}-->
<!--        <li data-id ="{{ visable_area_properties.next_page_number }}"><a ><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>-->
<!--        {% else %}-->
<!--        <li  class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>-->
<!--        {% endif %}-->

<!--    </ul>-->
<!--</div>-->





