<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="footer">
            <footer class="padding_top footer2">
                <div class="container">
                  <div class="row">
                    <div class="col-md-3 col-sm-6">
                      <div class="footer_panel bottom30">
                        <a href="javascript:void(0)" class="logo bottom30"><img th:src="@{frontoffice/images/logo-white.png}" alt="logo"></a>
                        <p class="bottom15">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh 
                          tempor cum consectetuer 
                          adipiscing.
                        </p>
                        <p class="bottom15">If you are interested in castle do not wait and <a href="javascript:void(0)">BUY IT NOW!</a></p>
                        <ul class="social_share">
                          <li><a href="javascript:void(0)" class="facebook"><i class="icon-facebook-1"></i></a></li>
                          <li><a href="javascript:void(0)" class="twitter"><i class="icon-twitter-1"></i></a></li>
                          <li><a href="javascript:void(0)" class="google"><i class="icon-google4"></i></a></li>
                          <li><a href="javascript:void(0)" class="linkden"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="javascript:void(0)" class="vimo"><i class="icon-vimeo3"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <div class="footer_panel bottom30">
                        <h4 class="bottom30">Search by Area</h4>
                        <ul class="area_search">
                          <li><a href="javascript:void(0)"><i class="icon-icons74"></i>Bayonne, New Jersey</a></li>
                          <li class="active"><a href="javascript:void(0)"><i class="icon-icons74"></i>Greenville, New Jersey</a></li>
                          <li><a href="javascript:void(0)"> <i class="icon-icons74"></i>The Heights, New Jersey</a></li>
                          <li><a href="javascript:void(0)"><i class="icon-icons74"></i>West Side, New York</a></li>
                          <li><a href="javascript:void(0)"><i class="icon-icons74"></i>Upper East Side, New York</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <div class="footer_panel bottom30">
                        <h4 class="bottom30">Latest News</h4>
                        <div class="media">
                          <a class="media-object"><img th:src="@{frontoffice/images/footer-news1.png}" alt="news"></a>
                          <div class="media-body">
                            <a href="http://wahabali.com/work/castle/listing4.html#.">Nearest mall in high tech Goes your villa</a>
                            <span><i class="icon-clock4"></i>Feb 22, 2017</span>
                          </div>
                        </div>
                        <div class="media">
                          <a class="media-object"><img th:src="@{frontoffice/images/footer-news1.png}" alt="news"></a>
                          <div class="media-body">
                            <a href="http://wahabali.com/work/castle/listing4.html#.">Nearest mall in high tech Goes your villa</a>
                            <span><i class="icon-clock4"></i>Feb 22, 2017</span>
                          </div>
                        </div>
                        <div class="media">
                          <a class="media-object"><img th:src="@{frontoffice/images/footer-news1.png}" alt="news"></a>
                          <div class="media-body">
                            <a href="http://wahabali.com/work/castle/listing4.html#.">Nearest mall in high tech Goes your villa</a>
                            <span><i class="icon-clock4"></i>Feb 22, 2017</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <div class="footer_panel bottom30">
                        <h4 class="bottom30">Get in Touch</h4>
                        <ul class="getin_touch">
                          <li><i class="icon-telephone114"></i>01 900 234 567 - 68</li>
                          <li><a href="javascript:void(0)"><i class="icon-icons142"></i>info@castle.com</a></li>
                          <li><a href="javascript:void(0)"><i class="icon-browser2"></i>www.castle.com</a></li>
                          <li><i class="icon-icons74"></i>Castle Melbourne, Merrick Way,FL 12345 australia</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </footer>
  
        </div>
    </body>
</html>