<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="stylesheet">
            <header class="layout_default">
                <div class="topbar grey">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-5">
                        <p>We are Best in Town With 40 years of Experience.</p>
                      </div>
                      <div class="col-md-7 text-right">
                        <ul class="breadcrumb_top text-right">
                          <li><a href="http://wahabali.com/work/castle/favorite_properties.html"><i class="icon-icons43"></i>Favorites</a></li>
                    <li><a href="http://wahabali.com/work/castle/submit_property.html"><i class="icon-icons215"></i>Submit Property</a></li>
                    <li><a href="http://wahabali.com/work/castle/my_properties.html"><i class="icon-icons215"></i>My Property</a></li>
                    <li><a href="http://wahabali.com/work/castle/profile.html"><i class="icon-icons230"></i>Profile</a></li>
                    <li><a href="http://wahabali.com/work/castle/login.html"><i class="icon-icons179"></i>Login / Register</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="header-upper">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-3 col-sm-12">
                        <div class="logo"><a href="http://wahabali.com/work/castle/index3.html">
                          <img alt="" th:src="@{frontoffice/images/logo.png}"></a></div>
                      </div>
                      <!--Info Box-->
                      <div class="col-md-9 col-sm-12 right">
                        <div class="info-box first">
                          <div class="icons"><i class="icon-telephone114"></i></div>
                          <ul>
                            <li><strong>Phone Number</strong></li>
                            <li>+1 900 234 567 - 68</li>
                          </ul>
                        </div>
                        <div class="info-box">
                          <div class="icons"><i class="icon-icons74"></i></div>
                          <ul>
                            <li><strong>Manhattan Hall,</strong></li>
                            <li>Castle Melbourne, australia</li>
                          </ul>
                        </div>
                        <div class="info-box">
                          <div class="icons"><i class="icon-icons142"></i></div>
                          <ul>
                            <li><strong>Email Address</strong></li>
                            <li><a href="javascript:void(0)">info@castle.com</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wrap-sticky" style="height: 61px;"><nav class="navbar navbar-default navbar-sticky bootsnav on no-full sticked">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="attr-nav">
                          <ul class="social_share clearfix">
                            <li><a href="javascript:void(0)" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="javascript:void(0)" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="google" href="javascript:void(0)"><i class="icon-google4"></i></a></li>
                          </ul>
                        </div>
                        <!-- Start Header Navigation -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                          <i class="fa fa-bars"></i>
                          </button>
                          <a class="navbar-brand sticky_logo" href="http://wahabali.com/work/castle/index3.html">
                            <img th:src="@{frontoffice/images/logo-white.png}" class="logo" alt=""></a>
                        </div> <!-- End Header Navigation -->
                        <div class="collapse navbar-collapse" id="navbar-menu">
                          <ul class="nav navbar-nav" data-in="fadeIn" data-out="fadeOut">
                            <li class="dropdown">
                              <a href="http://wahabali.com/work/castle/listing4.html#." class="dropdown-toggle" data-toggle="dropdown">Home </a>
                              <ul class="dropdown-menu animated fadeOut" style="display: none; opacity: 1;">
                                <li><a href="http://wahabali.com/work/castle/index.html">Home Style 1</a></li>
                                <li><a href="http://wahabali.com/work/castle/index2.html">Home Style 2</a></li>
                                <li><a href="http://wahabali.com/work/castle/index3.html">Home Style 3</a></li>
                                <li><a href="http://wahabali.com/work/castle/index4.html">Home Style 4</a></li>
                                <li> <a href="http://wahabali.com/work/castle/index5.html">Home Style 5</a></li>
                                <li> <a href="http://wahabali.com/work/castle/index6.html">Home Style 6</a></li>
                                <li> <a href="http://wahabali.com/work/castle/index7.html">Home Style 7</a></li>
                                <li> <a href="http://wahabali.com/work/castle/index8.html">Home Style 8</a></li>
                                <li> <a href="http://wahabali.com/work/castle/index9.html">Home Style 9</a></li>
                                <li> <a href="http://wahabali.com/work/castle/fullscreen.html">Home Fullscreen<span>new</span></a></li>
                              </ul>
                            </li>
                            <li class="dropdown megamenu-fw active">
                              <a href="http://wahabali.com/work/castle/listing4.html#" class="dropdown-toggle" data-toggle="dropdown">Listing</a>
                              <ul class="dropdown-menu megamenu-content animated fadeOut" role="menu" style="display: none; opacity: 1;">
                                <li>
                                  <div class="row">
                                    <div class="col-menu col-md-3">
                                      <h5 class="title">PROPERTIES LIST</h5>
                                      <div class="content">
                                        <ul class="menu-col">
                                          <li><a href="http://wahabali.com/work/castle/listing1.html">Properties List</a></li>
                                          <li><a href="http://wahabali.com/work/castle/index7.html">Single Property</a></li>
                                          <li><a href="http://wahabali.com/work/castle/listing2.html">Search by City</a></li>
                                          <li><a href="http://wahabali.com/work/castle/listing5.html">Search by Category</a></li>
                                          <li><a href="http://wahabali.com/work/castle/listing3.html">Search by Type</a></li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="col-menu col-md-9">
                                      <h5 class="title bottom20">PROPERTIES LIST</h5>
                                      <div class="row">
                                        <div id="nav_slider" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                                          <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 3384px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-564px, 0px, 0px);"><div class="owl-item" style="width: 282px;"><div class="item">
                                            <div class="image bottom15"> 
                                              <img th:src="@{frontoffice/images/nav-slider1.jpg}" alt="Featured Property"> 
                                              <span class="nav_tag yellow text-uppercase">for rent</span>
                                            </div>
                                            <h4><a href="http://wahabali.com/work/castle/property_detail1.html">Park Avenue Apartment</a></h4>
                                            <p>Towson London, MR 21501</p>
                                          </div></div><div class="owl-item" style="width: 282px;"><div class="item">
                                            <div class="image bottom15"> 
                                              <img th:src="@{frontoffice/images/nav-slider2.jpg}" alt="Featured Property"> 
                                              <span class="nav_tag yellow text-uppercase">for rent</span>
                                            </div>
                                            <h4><a href="http://wahabali.com/work/castle/property_detail2.html">Park Avenue Apartment</a></h4>
                                            <p>Towson London, MR 21501</p>
                                          </div></div><div class="owl-item" style="width: 282px;"><div class="item">
                                            <div class="image bottom15"> 
                                              <img th:src="@{frontoffice/images/nav-slider3.jpg}" alt="Featured Property"> 
                                              <span class="nav_tag yellow text-uppercase">for rent</span>
                                            </div>
                                            <h4><a href="http://wahabali.com/work/castle/property_detail3.html">Park Avenue Apartment</a></h4>
                                            <p>Towson London, MR 21501</p>
                                          </div></div><div class="owl-item" style="width: 282px;"><div class="item">
                                            <div class="image bottom15"> 
                                              <img th:src="@{frontoffice/images/nav-slider1.jpg}" alt="Featured Property"> 
                                              <span class="nav_tag yellow text-uppercase">for rent</span>
                                            </div>
                                            <h4><a href="http://wahabali.com/work/castle/property_detail1.html">Park Avenue Apartment</a></h4>
                                            <p>Towson London, MR 21501</p>
                                          </div></div><div class="owl-item" style="width: 282px;"><div class="item">
                                            <div class="image bottom15"> 
                                              <img th:src="@{frontoffice/images/nav-slider2.jpg}" alt="Featured Property"> 
                                              <span class="nav_tag yellow text-uppercase">for rent</span>
                                            </div>
                                            <h4><a href="http://wahabali.com/work/castle/property_detail2.html">Park Avenue Apartment</a></h4>
                                            <p>Towson London, MR 21501</p>
                                          </div></div><div class="owl-item" style="width: 282px;"><div class="item">
                                            <div class="image bottom15"> 
                                              <img th:src="@{frontoffice/images/nav-slider3.jpg}" alt="Featured Property"> 
                                              <span class="nav_tag yellow text-uppercase">for rent</span>
                                            </div>
                                            <h4><a href="http://wahabali.com/work/castle/property_detail3.html">Park Avenue Apartment</a></h4>
                                            <p>Towson London, MR 21501</p>
                                          </div></div></div></div>
                                          
                                          
                                          
                                          
                                          
                                        <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div></div></div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </li>
                            <li class="dropdown megamenu-fw">
                              <a href="http://wahabali.com/work/castle/listing4.html#" class="dropdown-toggle" data-toggle="dropdown">Properties</a>
                              <ul class="dropdown-menu megamenu-content bg animated fadeOut" role="menu" style="display: none; opacity: 1;">
                                <li>
                                  <div class="row">
                                    <div class="col-menu col-md-3">
                                      <h5 class="title">PROPERTY LISTINGS</h5>
                                      <div class="content">
                                        <ul class="menu-col">
                                          <li><a href="http://wahabali.com/work/castle/listing1.html">List Style 1</a></li>
                                          </ul>
                                      </div>
                                    </div>
                                    <div class="col-menu col-md-3">
                                      <h5 class="title">PROPERTY LISTINGS</h5>
                                      <div class="content">
                                        <ul class="menu-col">
                                          <li><a href="http://wahabali.com/work/castle/listing6.html">List Style 5</a></li>
                                           </ul>
                                      </div>
                                    </div>
                                    <div class="col-menu col-md-3">
                                      <h5 class="title">PROPERTY DETAIL</h5>
                                      <div class="content">
                                        <ul class="menu-col">
                                          <li><a href="http://wahabali.com/work/castle/property_detail1.html">Property Detail 1</a></li>
                                            </ul>
                                      </div>
                                    </div>
                                    <div class="col-menu col-md-3">
                                      <h5 class="title">OTHER PAGES</h5>
                                      <div class="content">
                                        <ul class="menu-col">
                                          <li><a href="http://wahabali.com/work/castle/favorite_properties.html">Favorite Properties</a></li>
                                          </ul>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </li>
                            <li class="dropdown">
                              <a href="http://wahabali.com/work/castle/listing4.html#." class="dropdown-toggle" data-toggle="dropdown">Features </a>
                              <ul class="dropdown-menu animated fadeOut" style="display: none; opacity: 1;">
                                <li class="dropdown">
                                  <a href="http://wahabali.com/work/castle/listing4.html#." class="dropdown-toggle" data-toggle="dropdown">News</a>
                                  <ul class="dropdown-menu animated">
                                    <li><a href="http://wahabali.com/work/castle/news.html">news Style1</a></li>
                                      </ul>
                                </li>
                                <li class="dropdown">
                                  <a href="http://wahabali.com/work/castle/listing4.html#." class="dropdown-toggle" data-toggle="dropdown">Property Agents</a>
                                  <ul class="dropdown-menu animated">
                                    <li><a href="http://wahabali.com/work/castle/agent1.html">Agent Style1</a></li>
                                      </ul>
                                </li>
                                <li class="dropdown">
                                  <a href="http://wahabali.com/work/castle/listing4.html#." class="dropdown-toggle" data-toggle="dropdown">Agetn Profile Styles</a>
                                  <ul class="dropdown-menu animated">
                                    <li><a href="http://wahabali.com/work/castle/agent_profile.html">Agent Profile 1</a></li>
                                   </ul>
                                </li>
                                <li class="dropdown">
                                <a href="http://wahabali.com/work/castle/listing4.html#." class="dropdown-toggle" data-toggle="dropdown">Testimonials</a>
                                <ul class="dropdown-menu animated">
                                    <li><a href="http://wahabali.com/work/castle/testimonial.html">Style 1</a></li>
                                   </ul>
                                </li>
                                <li class="dropdown">
                                <a href="http://wahabali.com/work/castle/listing4.html#." class="dropdown-toggle" data-toggle="dropdown">FAQ's</a>
                                <ul class="dropdown-menu animated">
                                    <li><a href="http://wahabali.com/work/castle/faq.html">Style 1</a></li>
                                  </ul>
                                </li>
                                <li><a href="http://wahabali.com/work/castle/favorite_properties.html">Favorite Properties</a></li>
                                <li class="dropdown">
                                <a href="http://wahabali.com/work/castle/listing4.html#." class="dropdown-toggle" data-toggle="dropdown">404 Error</a>
                                <ul class="dropdown-menu animated">
                                    <li><a href="http://wahabali.com/work/castle/404.html">404 Error 1</a></li>
                                    <li><a href="http://wahabali.com/work/castle/404-2.html">404 Error 2</a></li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                            <li><a href="http://wahabali.com/work/castle/contact.html">Contact Us</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </nav></div>
              </header>
  
        </div>
    </body>
</html>