<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="stylesheet">
            <link rel="stylesheet" type="text/css" th:href="@{frontoffice/css/bootstrap.min.css}">
            <link rel="stylesheet" type="text/css" th:href="@{frontoffice/css/font-awesome.min.css}">
            <link rel="stylesheet" type="text/css" th:href="@{frontoffice/css/reality-icon.css}">
            <link rel="stylesheet" type="text/css" th:href="@{frontoffice/css/bootsnav.css}">
            <link rel="stylesheet" type="text/css" th:href="@{frontoffice/css/jquery.fancybox.css}">
            <link rel="stylesheet" type="text/css" th:href="@{frontoffice/css/owl.carousel.css}">
            <link rel="stylesheet" type="text/css" th:href="@{frontoffice/css/owl.transitions.css}">
            <link rel="stylesheet" type="text/css" th:href="@{frontoffice/css/cubeportfolio.min.css}">
            <link rel="stylesheet" type="text/css" th:href="@{frontoffice/css/settings.css}">
            <link rel="stylesheet" type="text/css" th:href="@{frontoffice/css/range-Slider.min.css}">
            <link rel="stylesheet" type="text/css" th:href="@{frontoffice/css/search.css}">
            <link rel="stylesheet" type="text/css" th:href="@{frontoffice/css/style.css}">
  
        </div>
    </body>
</html>